<header class="header" id="mainHeader">
    <div class="container-header">
        <a href="#" class="header-logo" id="logo">🏗️ МОЙ <span class="orange">ДОМ ДВ</span></a>
        <div class="header-nav">
            <a href="#">О компании</a>
            <a href="#">Портфолио</a>
            <a href="#">Услуги</a>
            <a href="#">Работа</a>
            <a href="#">Контакты</a>
            <a href="#">Блог</a>
        </div>
        <a href="#" class="header-login" id="loginBtn">Войти</a>
    </div>
</header>